.btn {
    /* margin: 5px; */
    display: inline;
    color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 5px;
    background-color: #ffffff;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #0d6efd;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.btn-text {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-icon-11 {
    display: inline;
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.btn-icon-12 {
    display: inline;
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.icon-none {
    display: none;
}

.btn-icon-21, .btn-icon-22 {
    display: inline;
    width: 15px;
    height: 15px;
    font-size: 15px;
}
